*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: .625rem;
}

.todo-app{
    width: 100%;
    max-width: 33.75rem;
    background: rgba(102, 51, 153, 0.788);
    margin: 6.25rem auto 1.25rem;
    padding: 2.5rem 1.875rem 4.375rem;
    border-radius: 10px;
}

.todo-app{
    color: #002765;
    display: flex;
    align-items: center;
    margin: 1.25rem;
}


.to-do-icon{
    width: 23%;
    height: 23%;
}

h2{
    color: #df05fc;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 1.875rem;
    padding-left: 1.25rem;
    margin-bottom: 1.5625rem;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: .625rem;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 1rem 3.125rem;
    background: #f395ff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 1.0625rem;
    padding: .75rem .5rem .75rem 3.125rem;
    user-select: none;
    cursor: pointer;
}